- randomizable ||= false
%li.list-group-item{id: color}
  .text
    Regular Building
  - if randomizable
    %a{ href: '#'}
      .icon{ alt: "Edit Entry", data: { behavior: "randomize-building", color: color } }
        = svg 'loop-circular'
